.form-group{
    display: inline-block;;
    border:1px solid black;
    width: 300px;
    height: 40px;

  }
  .form-group input{
    border: hidden
  }
  .form-group input:focus {
    outline: none;
  }
  ul {
    margin-bottom: 15px;
    display:block;
  }
  .grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25%;
  align-items: center;
  justify-items: center;
  width: 25%;
  margin-left:38%
}
img.grid-item{
  display:flex;
  width: 100%;
  align-items:flex-start;
}