.footer{
    display:flex;
    justify-content: space-evenly;
  }
  
  .footerList{
    border-top: 3px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top:50px;
    padding-top: 50px;
    display:flex;
    justify-content: space-evenly;
  }
  li{
    list-style-type: none;
    font-size: 10px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
    opacity: 0.7;
  }
  
  .footerList p{
    color: black;
    font-size:30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
  
  }
  .footerList .footerIcons p{
    color: black;
    font-size:10px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }
  .footerIcons{
    font-size:30px
  }
  .copyright{
    color:grey;
    font-size:10px;
    text-align:left;
    margin-left: 10px;
  }